@import "../breakpoint";
.container {
  width: 100%;
  margin: 0 auto;
}

[class*="container-"] {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: $landscape) {
  .container {
    max-width: $landscape - 12 * 1;
  }

  .container-sm {
    width: 100%;
  }
}

@media screen and (min-width: $tablet) {
  .container {
    max-width: $tablet - 12 * 2;
  }

  .container-sm {
    width: $tablet - 12 * 2;
  }

  .container-md {
    width: 100%;
  }
}

@media screen and (min-width: $laptop) {
  .container {
    max-width: $laptop - 12 * 3;
  }

  .container-sm {
    width: $laptop - 12 * 3;
  }

  .container-md {
    width: $laptop - 12 * 3;
  }

  .container-lg {
    width: 100%;
  }
}

@media screen and (min-width: $desktop) {
  .container {
    max-width: $desktop - 12 * 4;
  }

  .container-sm {
    width: $desktop - 12 * 4;
  }

  .container-md {
    width: $desktop - 12 * 4;
  }

  .container-lg {
    width: $desktop - 12 * 4;
  }

  .container-xl {
    width: $desktop;
  }
}
